w<!DOCTYPE html>
<html layout:decorator="admin/template">
<head>
<meta charset="UTF-8">
<title>Size Update</title>
</head>
<body layout:fragment="content" th:remove="tag">
	<div>
		<form th:action="@{/admin/size/update}" method="post"
			th:modelattribute="${sizeDTO}">
			<div>
				<label>id</label><input type="text" name="id" th:value="${sizeDTO.id}" />
			</div>
			<div>
				<label>name</label><input type="text" name="name"
					th:value="${sizeDTO.name}" />
			</div>
			<div>
				<input type="submit" value="update" />
			</div>
		</form>
	</div>
</body>
</html>